{{!
    @template local_lionai_reports/historymodal
}}
<div class="list-group lionai_reports-history-list">
    {{#history}}
    <a href="#" class="list-group-item list-group-item-action text-info lionai_reports-history-list-item {{classes}}"
        data-role="{{role}}">
        {{{content}}}
    </a>
    {{/history}}
</div>