<div id="lionai_reports-report">
    <div class="row">
        <h2 id="lionai_reports-report-name" class="mb-2 text-muted col-md-8">
            <span id="edit-name">{{name}}</span>
            <button id="edit-name-button" class="btn btn-link">
                <i class="fa fa-pencil"></i>
            </button>
        </h2>

        <p class="col-md-4">
            <span class="text-muted">{{#str}}timecreated, local_lionai_reports{{/str}}:</span> {{timecreated}}<br>
            <span class="text-muted">{{#str}}timemodified, local_lionai_reports{{/str}}:</span> {{timemodified}}
        </p>
    </div>

    <div class="row mb-5">
        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="row container mt-3">
                {{!-- TODO: add str --}}
                <label for="id_userprompt">Add prompt:</label>
                <textarea id="id_userprompt" class="form-control userprompt-textarea" rows="5">{{lastusercontent}}</textarea>
            </div>

            <div class="row container mt-3">
                <button class="btn btn-primary ml-0" name="senduserprompt" id="id_senduserprompt" type="button"
                    data-toggle="tooltip" data-placement="left" title="{{#str}}ctrlenter, local_lionai_reports{{/str}}">
                    {{#str}}sendprompt, local_lionai_reports{{/str}}
                </button>


                <button type="button" class="btn btn-secondary lionai_reports-history ml-1" data-toggle="modal"
                    data-target="#historyModal" id="lionai_reportshistory" href="#" role="button">
                    {{#str}}pickfromhistory, local_lionai_reports{{/str}}
                </button>

                {{!-- TODO: add title str --}}
                <div id="ratebtns-wrapper" class="mx-auto">
                    <button type="button" class="btn btn-outline-success mr-1" id="thmbup" href="#" role="button"
                        title="{{#str}}thumbupbtn, local_lionai_reports{{/str}}" data-rate="1" data-promptid="{{promptid}}">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    </button>

                    <button type="button" class="btn btn-outline-danger" id="thmbdown" href="#" role="button"
                        title="{{#str}}thumbdownbtn, local_lionai_reports{{/str}}" data-rate="-1" data-promptid="{{promptid}}">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                    </button>
                </div>

                <div class="dropdown ml-auto">
                    <a class="btn btn-outline-info dropdown-toggle lionai_reports-examples" href="#" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        {{#str}}examples, local_lionai_reports{{/str}}
                    </a>
                    <div class="dropdown-menu lionai_reports-examples-list">
                        <a class="dropdown-item" href="#">
                            {{#str}}example1, local_lionai_reports{{/str}}
                        </a>
                        <a class="dropdown-item" href="#">
                            {{#str}}example2, local_lionai_reports{{/str}}
                        </a>
                        <a class="dropdown-item" href="#">
                            {{#str}}example3, local_lionai_reports{{/str}}
                        </a>
                        <a class="dropdown-item" href="#">
                            {{#str}}example4, local_lionai_reports{{/str}}
                        </a>
                        <a class="dropdown-item" href="#">
                            {{#str}}example5, local_lionai_reports{{/str}}
                        </a>
                    </div>
                </div>
            </div>

            <div class="row container mt-3">
                <textarea id="id_querysql" class="form-control" rows="5">{{lastassistantcontent}}</textarea>
            </div>
            <div class="row container mt-3">
                <button class="btn btn-primary ml-0" name="getresult" id="id_getresult" type="button"
                    data-toggle="tooltip" data-placement="left" title="{{#str}}getresult, local_lionai_reports{{/str}}">
                    {{#str}}getresult, local_lionai_reports{{/str}}
                </button>
            </div>
            <div class="row container mt-3">
                <div id="id_queryresultmessage" class="d-none alert alert-warning">
                </div>
            </div>
            <div class="row container">
                <div id="" class="">
                    <a role="button" href="#" class="d-none btn btn-success mb-3" id="id_trytofix">{{#str}}trytofix,
                        local_lionai_reports{{/str}}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div id="id_queryresultwrapper" class="container mt-3">
        </div>
    </div>
</div>